/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*actual styles*/

html {
	position: relative;
}

html:after {
	content: '';
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: -2;
	background: green url("../img/jungle.jpg") left top/cover no-repeat fixed;
	filter: brightness(80%) saturate(50%);
}

body {
	max-width: 960px;
	margin: auto;
}

.wrapper:after {
	content: '';
	clear: both;
	display: table;
}

.wrapper2 {
	padding: 0 20px;
}

.head {
	width: 100%;
	height: 320px;
	background: #719485;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 14px 14px;
	margin-bottom: 20px;
}

.head .img {
	background: #719485 url("../img/jungle.jpg") center center/cover no-repeat;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	filter: blur(1px) brightness(60%);
}

#logo {
	font: bold 70px/300px Helvetica, sans-serif;
	text-align: center;
	color: white;
	color: rgba(255,255,255,0.6);
	text-shadow: 0 0 15px white;
	text-transform: uppercase;
	font-style: italic;
	position: relative;
}

nav.main {
	background-color: #719485;
	border-radius: 0 0 14px 14px;
	background: linear-gradient(rgba(59, 150, 57, 0.7), rgba(255,255,255,0.3), rgba(59, 150, 57, 0.7));
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 1
}

nav.main ul {
	float: left;
}

nav.main:after{
	content: '';
	clear: both;
	display: table;
}

nav.main li {
	float: left;
	border-right: 1px solid black;
	padding: 12px;
	width: 85px;
	text-align: center;
	transition: background-color 0.2s;
}

nav.main li:hover{
	background-color: rgb(27, 90, 27);
}

nav.main li:last-child {
	border: none;
}

nav.main li a {
	font: 18px Helvetica, sans-serif;
	text-decoration: none;
	color: white;
}

#search {
	float: right;
	margin-right: 10px;
	margin-top: 8px;
	position: relative;
	height: 100%;
}

#search input {
	height: 25px;
	width: 50px;
	border-radius: 10px;
	border: none;
	text-indent: 25px;
	font: 15px Helvetica, sans-serif;
	transition: width 0.2s;
}

#search input:hover {
	box-shadow: 0 0 10px black;
}

#search input:focus {
	width: 200px;
	outline: none;
}

#search i {
	position: absolute;
	top: 4px;
	left: 5px;
}

article.main {
	width:64%;
	float: left;
	box-sizing: border-box;
}

.article header{
	font: bold 20px Helvetica, Arial, sans-serif;
}

.article {
	padding-top: 15px;
	background-color: rgb(220,240, 190);
	padding: 20px 15px 5px 15px;
	margin-bottom: 25px;
	border-radius: 5px;
}

.article:first-child {
	border: none;
	padding-top: 15px;
}

.article:after {
	content: '';
	clear: both;
	display: table;
}

.article p {
	margin-top: 10px;
	font: 16px/1.3 Arial, sans-serif;
	text-align: justify;
	margin-bottom: 15px;
}

.article img {
	float: right;
	padding: 3px;
	margin: 10px 0 10px 10px;
	background-color: lightgrey;
}

.article:nth-child(2n) img {
	float: left;
	margin: 10px 10px 10px 0;
}

.author {
	color: green;
	float: left;
	text-decoration: none;
	cursor: pointer;
}

.author:hover {
	color: darkgreen;
	text-decoration: underline;
}

.datetime {
	color: green;
	float: right;
	font: bold 13px Courier, monospace;
}

aside {
	width: 34%;
	float: right;
	box-sizing: border-box;
}

aside article {
	padding: 10px;
	text-align: justify;
	border-radius: 5px;
	background-color: rgb(200,240, 170);
	margin-bottom: 10px;
}

aside article:after{
	content: '';
	clear: both;
	display: table;
}

aside article header {
	font: bold 15px/1.2 Helvetica, sans-serif;
	text-align: left;
}

aside article p {
	text-indent: 15px;
	margin: 5px 0 10px 0;
}

img:active {
	transform: scale(2);
	z-index: 1;
}

*::selection {
	background-color: lightgreen;
}

@media screen and (max-width: 650px)
{
	article.main {
		width: 100%;
		float: none;
	}

	aside {
		width: 100%;
		margin-top: 50px;
		float: none;
	}

	aside:before {
		content: '';
		display: block;
		background-color: rgb(200,240, 170);
		width: 100%;
		height: 2px;
		border-radius: 50%;
		margin-bottom: 25px;
		outline: 2px solid black;
	}

	.head {
		height: 200px;
	}

	#logo {
		line-height: 150px;
		font-size: 50px;
	}

	#nav {
		min-height: 50px;
		max-width: 500px;
		margin: auto;
		margin-left: 70px;
	}

	#nav, #search {
		float: none;
		display: block;
	}

	#search {
		width: 50%;
		margin: auto;
		margin-bottom: 10px;
	}

	#search input{
		width: 100%;
		margin: 0;
		padding-top: 1px;
	}

	#search input:focus {
		width: 100%;
	}
}

@media screen and (max-width: 522px)
{
	#nav li {
		float: none;
		border: none;
		width: 100%;
	}

	#nav {
		margin: auto;
	}

	#logo {
		display: none;
	}

	header.head {
		padding-top: 10px;
	}
}